@font-face {
  font-family: "archivo_black";
  src:
    url(../fonts/ArchivoBlack-Regular.woff) format("woff"),
    url(../fonts/ArchivoBlack-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "open_sans-bold";
  src:
    url(../fonts/OpenSans-Bold.woff) format("woff"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "open_sans-regular";
  src:
    url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "open_sans-semibold";
  src:
    url(../fonts/OpenSans-SemiBold.woff) format("woff"),
    url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
