html {
  width: 1440px;
  height: 1998px;
  background: #111111;
}

.cv_title {
  position: absolute;
  width: 793px;
  height: 156px;
  left: 120px;
  top: 89px;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 78px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cv_subtitle {
  position: absolute;
  width: 790px;
  height: 25px;
  left: 120px;
  top: 260px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.cv_description {
  position: absolute;
  width: 793px;
  height: 150px;
  left: 120px;
  top: 315px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.nav_links_cv {
  list-style: none;
}

.nav_link_cv1 {
  /* Descargar CV */

  position: absolute;
  width: 115px;
  height: 25px;
  left: 120px;
  top: 495px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}
.nav_link_cv2 {
  /* Enlace a GitHub */

  position: absolute;
  width: 138px;
  height: 25px;
  left: 265px;
  top: 495px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

.nav_link_cv3 {
  /* Contacto */

  position: absolute;
  width: 88px;
  height: 25px;
  left: 433px;
  top: 495px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

.nav_link_cv1:hover,
.nav_link_cv2:hover,
.nav_link_cv3:hover {
  color: #4c1a97;
}

.rectangle1 {
  /* Rectangle 1 */
  position: absolute;
  width: 115px;
  height: 5px;
  left: 120px;
  top: 525px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
  border-radius: 0px;
}

.rectangle2 {
  /* Rectangle 2 */
  position: absolute;
  width: 138px;
  height: 5px;
  left: 265px;
  top: 525px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
  border-radius: 0px;
}

.rectangle3 {
  /* Rectangle 3 */
  position: absolute;
  width: 88px;
  height: 5px;
  left: 433px;
  top: 525px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
  border-radius: 0px;
}

.cv_image {
  position: absolute;
  width: 387px;
  height: 500px;
  left: 933px;
  top: 40px;
}

.skills_tools {
  position: absolute;
  height: 44px;
  left: 120px;
  top: 640px;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  margin: 0 auto;
}

.skills_tools_logos {
  display: flex;
  flex-direction: row;
  gap: 170px;
  position: relative;
  top: 734px;
  left: 120px;
}

.main_content_title {
  position: absolute;
  width: 487px;
  height: 44px;
  left: 120px;
  top: 891px;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
}

.proyect1_image {
  position: absolute;
  width: 590px;
  height: 330px;
  left: 120px;
  top: 985px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.proyect1_box {
  position: absolute;
  width: 590px;
  height: 340px;
  left: 120px;
  top: 1315px;
  background: #1c1c1c;
}

.proyect1_title {
  position: relative;
  margin: 0 auto;
  height: 33px;
  left: 20px;
  top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.proyect1_description {
  position: absolute;
  width: 530px;
  height: 175px;
  left: 20px;
  top: 45px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.nav_links_proyect1 {
  list-style: none;
  position: absolute;
  bottom: 25px;
  left: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.proyect2_image {
  position: absolute;
  width: 590px;
  height: 330px;
  left: 730px;
  top: 985px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 0px;
}

.proyect2_box {
  position: absolute;
  width: 590px;
  height: 340px;
  left: 730px;
  top: 1315px;
  background: #1c1c1c;
}

.proyect2_title {
  position: relative;
  height: 33px;
  left: 20px;
  top: 20px;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.proyect2_description {
  position: relative;
  margin: 0;
  height: 25px;
  left: 20px;
  top: 45px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.nav_links_proyect2 {
  list-style: none;
  position: absolute;
  bottom: 25px;
  left: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
